.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu,
.menu-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu {
  background: #3498db;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}
.menu__item {
  background: #2f3542;
  padding: 16px 20px;
  color: white;
  position: relative;
  border-bottom: 1px solid #57606f;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #ff7f50;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.menu__item:hover::before {
  opacity: 1;
}
.menu__item a {
  display: block;
}
.menu-sub__title {
  padding: 16px 20px;
  display: block;
  text-decoration: none;
  color: white;
  position: relative;
}
.menu-sub__title i {
  padding-right: 8px;
}
.menu-sub__title::before {
  content: " ";
  position: absolute;
  height: 12px;
  width: 12px;
  bottom: -6px;
  left: 10px;
  background: #3498db;
  transform: rotate(45deg);
}
.menu-submenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}
.menu-sub:target .menu-submenu {
  max-height: 99px;
}